<!--Header-->
<div class="modal-header">
    <p class="heading lead">Карточка клиента</p>
    <a href="{{ path("request_download_document", {ids: doc.id}) }}" download class="btn btn-outline-secondary waves-effect some_btn_rise">Печать</a>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>

<!--Body-->
<div class="modal-body">
    <!-- Extended default form grid -->
    <form id="edit-document-request-form">
        {{ form_widget(form._token) }}
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.responsibleManager) }}
                {{ form_widget(form.responsibleManager, {attr: {"placeholder": "Ответственный менеджер", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.budget) }}
                {{ form_widget(form.budget, {attr: {"placeholder": "Введите бюджет клиента", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                {{ form_label(form.fio) }}
                {{ form_widget(form.fio, {attr: {"placeholder": "Введите ФИО клиента", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.issuedDate) }}
                {{ form_widget(form.issuedDate, {attr: {"placeholder": "Введите дату выдачи", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.issuedAuthority) }}
                {{ form_widget(form.issuedAuthority, {attr: {"placeholder": "Введите кем выдан документ", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.type) }}
                {{ form_widget(form.type, {attr: {"class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.series) }}
                {{ form_widget(form.series, {attr: {"placeholder": "Серия документа", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.number) }}
                {{ form_widget(form.number, {attr: {"placeholder": "Номер документа", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-2">
                {{ form_label(form.sex) }}
                {{ form_widget(form.sex, {attr: {"class" : "form-control only-one-checkbox"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-2">
                <label for="document_request_form_sex_woman">Женский пол</label>
                <input type="checkbox" id="document_request_form_sex_woman" class="form-control only-one-checkbox" value="1">
            </div>
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.citizen) }}
                {{ form_widget(form.citizen, {attr: {"class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.birthPlace) }}
                {{ form_widget(form.birthPlace, {attr: {"placeholder": "Введите место рождения клиента", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.birthDate) }}
                {{ form_widget(form.birthDate, {attr: {"placeholder": "Дата рождения", "class" : "form-control"}}) }}
            </div>
        </div>
        <!-- Grid row -->

        <!-- Default checked -->
        <div class="custom-control custom-checkbox mt-3">
            {{ form_widget(form.isBackDating, {attr: {"class" : "custom-control-input"}}) }}
            <label class="custom-control-label" for="{{ form.isBackDating.vars.id }}">{{ form.isBackDating.vars.label }}</label>
        </div>

        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.term) }}
                {{ form_widget(form.term, {attr: {"class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.registerFrom) }}
                {{ form_widget(form.registerFrom, {attr: {"placeholder": "xx.xx.xxxx", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-4">
                {{ form_label(form.registerTo) }}
                {{ form_widget(form.registerTo, {attr: {"placeholder": "xx.xx.xxxx", "class" : "form-control"}}) }}
            </div>
        </div>
        <!-- Grid row -->

        <h3 class="mt-4">Данные о доставке</h3>

        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.deliveryDetail.deliveryDate) }}
                {{ form_widget(form.deliveryDetail.deliveryDate, {attr: {"placeholder": "Введите дату доставки", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.deliveryDetail.deliveryTime) }}
                {{ form_widget(form.deliveryDetail.deliveryTime, {attr: {"placeholder": "Введите время доставки", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.deliveryDetail.address) }}
                {{ form_widget(form.deliveryDetail.address, {attr: {"placeholder": "Введите адрес доставки", "class" : "form-control"}}) }}
            </div>
            <!-- Default input -->
            <div class="form-group col-md-3">
                {{ form_label(form.deliveryDetail.station) }}
                {{ form_widget(form.deliveryDetail.station, {attr: {"placeholder": "Введите станцию доставки", "class" : "form-control"}}) }}
            </div>
        </div>
        <!-- Grid row -->

        <h3 class="mt-4">Документы</h3>

        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div id="document-address-street-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.street) }}
                {{ form_widget(form.documentDetail.street, {attr: {"placeholder": "Введите улицу", "class" : "form-control document-address-street"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-district-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.district) }}
                {{ form_widget(form.documentDetail.district, {attr: {"placeholder": "Введите район", "class" : "form-control document-address-district"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-fio-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.bossFio) }}
                {{ form_widget(form.documentDetail.bossFio, {attr: {"placeholder": "Введите ФИО начальника", "class" : "form-control document-address-fio"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-department-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.department) }}
                {{ form_widget(form.documentDetail.department, {attr: {"placeholder": "Отделение УФМС", "class" : "form-control document-address-department"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-house-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.house) }}
                {{ form_widget(form.documentDetail.house, {attr: {"placeholder": "Введите дом", "class" : "form-control document-address-house"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-apartment-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.apartment) }}
                {{ form_widget(form.documentDetail.apartment, {attr: {"placeholder": "Введите квартиру", "class" : "form-control document-address-apartment"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-region-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.region) }}
                {{ form_widget(form.documentDetail.region, {attr: {"placeholder": "Введите округ", "class" : "form-control document-address-region"}}) }}
            </div>
            <!-- Default input -->
            <div id="document-address-subway-container" class="form-group col-md-6">
                {{ form_label(form.documentDetail.subway) }}
                {{ form_widget(form.documentDetail.subway, {attr: {"placeholder": "Введите ближайшее метро", "class" : "form-control document-address-subway"}}) }}
            </div>
        </div>
        <!-- Grid row -->
        <div class="form-row">
            <div class="form-group col-md-6" >
                {{ form_label(form.comment) }}
                {{ form_widget(form.comment, {attr: {"class" : "form-control", "rows" : 3}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.status) }}
                {{ form_widget(form.status, {attr: {"class" : "form-control"}}) }}
            </div>
        </div>

        <button id="edit-document-request-form-button" type="button" class="btn btn-primary btn-md">Готово</button>
    </form>
    <!-- Extended default form grid -->

</div>

<!--Footer-->